.claseado {
    background-color: red;
    border: 5px rgba(245, 33, 33, 0.822) solid;
}

.claseadoPrecio {
    color: red;
}

.sinClase {
    background-color: blue;

}

#masBarato {
    /* color: red; */
}